@font-face {
  font-family: MessinaSans;
  src: url(../fonts/MessinaSans-Light.woff);
}

@font-face {
  font-family: MessinaSans;
  src: url(../fonts/MessinaSans-Bold.woff);
  font-weight: bold;
}

@font-face {
  font-family: MessinaSans;
  src: url(../fonts/MessinaSans-LightItalic.woff);
  font-style: italic;
}

* {
  color: #1D1E1F;
  font-family: MessinaSans, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* border: 2px solid red; */
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

a:hover {
  color: #4b6584;
}

body {
  margin: 0;
  display: flex;
}

aside {
  border-right: 1px solid #1D1E1F;
  background: #f9fafb;
  padding-top: 3.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  max-width: 13.5rem;
  display: flex;
  flex-shrink: 0;
}

.sidebar-links {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.novel-links {
  margin: 0;
  padding: 0;
  padding-left: 1.2em;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

/* Header */
.header-links {
  margin: 0;
  padding: 0;
  font-size: 1.1rem;
  padding-left: 10rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 0.0056rem solid #1D1E1F;
  display: flex;
  gap: 5.5rem;
}

/* Content */
main {
  margin: 0 auto;
  max-width: 70rem;
  padding: 3.3rem 4rem 0 4rem;
}

.title {
  font-size: 3.3rem;
}

.description-container {
  display: flex;
  align-items: center;
  gap: 4.2rem;
  margin-bottom: 2.5rem;
}

.description {
  flex-shrink: 0;
  width: 30.6rem;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

#suema {
  width: 30.6rem;
  height: 16.4rem;
  object-fit: cover;
  flex-shrink: 0;
}

#kadono-icon {  
  object-fit: cover;
  flex-shrink: 0;
}

/* newcomer section */
.newcomer-container {
  background-color: #1b1d20;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5.5rem;
}

.newcomer-container .description h1,
.newcomer-container .description p {
  color: white;
}

.read-button {
  background-color: white;
  border: none;
  color: #1b1d20;
  padding: 1rem 1.7rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  cursor: pointer;
  transition-duration: 0.4s;
}

.read-button:hover {
  background-color: #1b1d20;
  border: 1px solid white;
  color: white;
}

