@font-face {
  font-family: MessinaSans;
  src: url(../fonts/MessinaSans-Light.woff);
}

@font-face {
  font-family: MessinaSans;
  src: url(../fonts/MessinaSans-Bold.woff);
  font-weight: bold;
}

@font-face {
  font-family: MessinaSans;
  src: url(../fonts/MessinaSans-LightItalic.woff);
  font-style: italic;
}

* {
  color: #1D1E1F;
  font-family: MessinaSans, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* border: 2px solid red; */
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

a:hover {
  color: #4b6584;
}

body {
  margin: 0;
  display: flex;
}

aside {
  border-right: 1px solid #1D1E1F;
  background: #f9fafb;
  padding-top: 3.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  max-width: 13.5rem;
  display: flex;
  flex-shrink: 0;
}

.sidebar-links {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.novel-links {
  margin: 0;
  padding: 0;
  padding-left: 1.2em;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

/* Header */
header {
  display: flex;
  border-bottom: 1px solid #1D1E1F;
  height: 4rem;
  align-items: center;
}

.header-logo {
  position: absolute;
  left: 3%
}

.header-links {
  margin-left: 20%;
  padding: 0;
  font-size: 1.15rem;
  display: flex;
}

.header-links p {
  padding: 0 2rem;
}

/* Content */
main {
  margin: 0 auto;
  max-width: 70rem;
  padding: 3.3rem 4rem 0 4rem;
}

.title {
  font-size: 3.3rem;
}

.description-container {
  display: flex;
  align-items: center;
  gap: 4.2rem;
  margin-bottom: 2.5rem;
}

.description {
  width: 30.6rem;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

#suema {
  width: 30.6rem;
  height: 16.4rem;
  object-fit: cover;
}

#kadono-icon {
  object-fit: cover;
}

/* newcomer section */
.newcomer-container {
  margin: 0 auto;
  background-color: #1b1d20;
  padding: 5.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.description.newcomer {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.newcomer-container .description h1,
.newcomer-container .description p {
  color: white;
}

.newcomer {
  width: 40rem;
}

.read-button {
  background-color: white;
  border: none;
  color: #1b1d20;
  padding: 1rem 1.7rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  cursor: pointer;
}

.read-button:hover {
  background-color: gray;
  color: white;
}

/* Footer */
footer {
  padding: 3rem 0;
  background-color: gray;
  text-align: center;
}

footer p {
  display: inline-block;
}

.footer-link a {
  color: white;
}

.footer-link a:hover {
  text-decoration: underline;
}

.footer-link {
  margin-right: 1rem;
}

.home {
  padding-right: 1rem;
  border-right: 1px solid white;
}

.about {
  padding-left: 1rem;
  border-left: 1px solid white;
}