@font-face {
  font-family: MessinaSans;
  src: url(../fonts/MessinaSans-Light.woff);
}

@font-face {
  font-family: MessinaSans;
  src: url(../fonts/MessinaSans-Bold.woff);
  font-weight: bold;
}

@font-face {
  font-family: MessinaSans;
  src: url(../fonts/MessinaSans-LightItalic.woff);
  font-style: italic;
}

* {
  color: #1b1d20;
  font-family: MessinaSans, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* border: 2px solid red; */
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* Sidebar */
.sidebar-links a:hover {
  color: #929dad;
}

body {
  margin: 0px;
  display: flex;
}

aside {
  height: 100vh;
}

.sidebar-links {
  margin: 0;
  padding: 0;
  padding-top: 86px;
  padding-left: 40px;
  width: 220px;
  height: 100%;
  border-right: 1px solid #1b1d20;
  background: #f9fafb;
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.novel-links {
  margin: 0;
  padding: 0;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 7px;
}

/* Header */
.header-links {
  margin: 0;
  padding: 0;
  font-size: 20px;
  padding-left: 200px;
  padding-top: 18px;
  padding-bottom: 18px;
  border-bottom: 1px solid #1b1d20;
  display: flex;
  gap: 100px;
}

/* Content */
.content {
  width: 100%;
}

article {
  max-width: 800px;
  padding: 0;
  padding-left: 50px;
  padding-top: 60px;
}

.directory {
  color: #6a6f76;
}

mark {
  background-color: transparent;
  color: #705429;
}

/* Left container */
.novel-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 36px;
}

.novel-info img {
  width: 280px;
}

.read-button {
  background-color: white;
  border: 1px solid #1b1d20;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.read-button:hover {
  background-color: #e7e7e7;
}

/* Right container */
.title {
  font-size: 60px;
}

.novel-info {
  margin-top: 40px;
  display: flex;
  gap: 80px;
}

.novel-description {
  gap: 20px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  max-width: 600px;
}

hr {
  margin-top: -0.8rem;
}