@font-face {
  font-family: MessinaSans;
  src: url(../fonts/MessinaSans-Light.woff);
}

@font-face {
  font-family: MessinaSans;
  src: url(../fonts/MessinaSans-Bold.woff);
  font-weight: bold;
}

@font-face {
  font-family: MessinaSans;
  src: url(../fonts/MessinaSans-LightItalic.woff);
  font-style: italic;
}

* {
  color: #1b1d20;
  font-family: MessinaSans, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* border: 2px solid red; */
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

a:hover {
  color: #4b6584;
}

body {
  margin: 0;
  display: flex;
}

body {
  margin: 0;
  line-height: 1.4;
  display: flex;
}

.hidden {
  display: none;
}

/* Sidebar */
aside {
  border-right: 1px solid #1D1E1F;
  background: #f9fafb;
  padding-top: 5.5rem;
  padding-left: 3rem;
  padding-right: 6rem;
  display: flex;
  flex-shrink: 0;
}

.sidebar-links {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

/* .novel-links {
  margin: 0;
  padding: 0;
  padding-left: 1.2em;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
} */

/* Header */
header {
  display: flex;
  border-bottom: 1px solid #1D1E1F;
  height: 5rem;

  align-items: center;
  margin-bottom: 2rem;
}

.header-logo {
  position: absolute;
  left: 3%
}

.header-links {
  margin-left: 20%;
  font-size: 1.15rem;
  display: flex;
}

.header-links p {
  padding: 0 2rem;
}

/* Content */
main {
  margin: 0 auto;
  max-width: 80%;
}

/* .directory {
  color: #705429;
}

/* mark {
  background-color: transparent;
  color: #705429;
} */

/* Breadcrumb */
.breadcrumbs {
  display: flex;
  gap: 0.2rem;
}

/* Translated section */
.section-title {
  font-size: 1.5rem;
  font-weight: 700;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid black;
}

.section-cards {
  margin-top: 3rem;
}

.col-md-4 {
  width: 15%;
  /* Adjusting how much space the thumbnail takes up in relation to the card container */
}

.card.mb-3 {
  padding: 1rem;
  border-left: none;
  border-right: none;
  border-radius: 0;
}

.card-body h5:hover {
  color: #4b6584;
  text-decoration: underline;
}

.brightness {
  background-color: white;
  display: inline-block;

}

.brightness img:hover {
  opacity: .8;
}

/* Footer */
footer {
  padding: 3rem 0;
  background-color: gray;
  text-align: center;
}

footer p {
  display: inline-block;
}

.footer-link a {
  color: white;
}

.footer-link a:hover {
  text-decoration: underline;
}

.footer-link {
  margin-right: 1rem;
}

.home {
  padding-right: 1rem;
  border-right: 1px solid white;
}

.about {
  padding-left: 1rem;
  border-left: 1px solid white;
}