@font-face {
  font-family: MessinaSans;
  src: url(../fonts/MessinaSans-Light.woff);
}

@font-face {
  font-family: MessinaSans;
  src: url(../fonts/MessinaSans-Bold.woff);
  font-weight: bold;
}

@font-face {
  font-family: MessinaSans;
  src: url(../fonts/MessinaSans-LightItalic.woff);
  font-style: italic;
}

* {
  color: #1b1d20;
  font-family: MessinaSans, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* border: 2px solid red; */
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* Sidebar */
.sidebar-links a:hover {
  color: #929dad;
}

body {
  margin: 0;
  display: flex;
}

aside {
  height: 100vh;
}

.sidebar-links {
  margin: 0;
  padding: 0;
  padding-top: 3.5rem;
  padding-left: 2rem;
  width: 12rem;
  height: 100%;
  border-right: 1px solid #1b1d20;
  background: #f9fafb;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.novel-links {
  margin: 0;
  padding: 0;
  padding-left: 1.2em;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

/* Header */
.header-links {
  margin: 0;
  padding: 0;
  font-size: 1.1rem;
  padding-left: 10rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 0.0056rem solid #1b1d20;
  display: flex;
  gap: 5.5rem;
}

/* Content */
.content {
  width: 100%;
}

article {
  max-width: 44.4rem;
  padding: 0;
  padding-left: 2.7rem;
  padding-top: 3.3rem;
}

.directory {
  color: #6a6f76;
}

mark {
  background-color: transparent;
  color: #705429;
}

/* Left container */
.novel-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.novel-info img {
  width: 15.5rem;
}

.read-button {
  background-color: white;
  border: 0.0056rem solid #1b1d20;
  padding: 0.833rem 1.8rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.9rem;
  cursor: pointer;
}

.read-button:hover {
  background-color: #e7e7e7;
}

/* Right container */
.title {
  font-size: 3.3rem;
}

.novel-info {
  margin-top: 2.2rem;
  display: flex;
  gap: 4.4rem;
}

.novel-description {
  gap: 1.1rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  max-width: 33.3rem;
}